@model MyShop.Core.ViewModels.CartSummaryViewModel

<ul class="navbar-nav navbar-right">
    <li><a href="@Url.Action("index","Cart")">@Model.CartCount items</a></li>
    <li><a href="@Url.Action("index","Cart")">@String.Format("{0:c}", Model.CartTotal) </a></li>
</ul>
}
